body{
    background-image: url('https://i.makeagif.com/media/3-28-2016/j_29xS.gif') ;
    
}
.declar{
    background-image: url('https://media1.tenor.com/images/bd4508efae84452400a478e8b4c72680/tenor.gif?itemid=5611463');
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgba(173, 171, 170, 0.945);
}
.fo{
    color: khaki;
    font-size: large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}